<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registrarse</h1>

        <form method="POST">
            <label for="username">Usuario:</label>
            <input type="text" name="username" id="username" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" required>

            <label for="role">Tipo de cuenta:</label>
            <select name="role" id="role" required>
                <option value="standard">Usuario Estándar</option>
                <option value="moderator">Moderador</option>
            </select>

            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>

        <p>¿Ya tienes una cuenta? <a href="{{ url_for('routes.login') }}">Inicia sesión aquí</a></p>
    </div>
</body>
</html>